html {
  background: linear-gradient(#010114fa , #18184bfa);
  padding: 0;
  margin: 0;
}

.button {
  background-color: #18184efa;
  color: #fff;
  text-align: center;
  border-radius: 30px;
  border-color: #ffba5b;
  width: 130px;
  display: block;
  text-decoration: none;
  height: 35px;
  line-height: 30px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

#menu {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #101022fa;
  padding: 0 20px 20px 20px; 
  min-width: 320px;
  border: 5px solid #ffba5b;
  
}


h1 {
  display: flex;
  color: #55e29e;
  font-family: "Sofia", sans-serif;
  font-size: 46px;
  text-align: center;
  line-height: 2;
  letter-spacing: 1px;

  color: #cbf8e3;
  text-shadow: 2px 2px 5px #cbf8e3;
}

.texto {
  text-align: center;
  color: #ecda8b;
  font-family: "Merriweather", serif;
}

h2 {
  display: flex;
  color: #866abe;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

ul{
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

li {
  flex-wrap: nowrap;
  align-items: center;
}

ul li::before{
  align-items: center;
  border-radius: 30px;
  width: 4px;
  height: 4px;
  background-color: #ffd82a86;
  margin-right: 5px;
}

form {
  display: flex;
  color: #866abe;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

.a {
  color: #ffdc40;
  font-size: 13px;
  padding: 5px;

}
h3 {
  display: block;
  color: #ecda8b;
  font-family: "Merriweather", serif;
  font-size: 13px;
  text-align: center;
  line-height: 4;
  width: 200px;
  background-color: #010114fa;
  padding: 5px 8px;
  border: 2px solid #ecda8b;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

.container-footer{
  display: flex;
  max-width: 992px;
  margin: auto;
  width: 100%;
  min-width: 320px;
}

footer{
  background-color: #4e545c3a;
  height: 50px;
  display: flex;
  align-items: center;
}

footer .footer{
  justify-content: space-between;
  color: #e5e8e881;
  font-size: 15px;
}

/* mobile */
@media(max-width:992px){
  .flex-container{
    flex-direction: column;
    text-align: center;
  }

  #menu{
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 90%;
    margin: 1% auto;
    width: 100%;
    margin-bottom: 20%;
  }

  img{
    min-width: 320px;
    margin: auto;
    align-items: center;
  }

  footer{
    justify-content: space-between;
  }

}