html {
  background: linear-gradient(#010114fa , #18184bfa);
  padding: 0;
  margin: 0;
  width: 100%;
}

.flex-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 992px;
  min-width: 320px;  
  width: 100%;

}

header{
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content:space-evenly;
}

h1 {
  display: flex;
  font-size: 45px;
  color: #fffef8;
  text-shadow: 2px 3px 5.5px gold;
  font-family: "Sofia", sans-serif;
  line-height: 2;
  letter-spacing: 1px;
}

.btn {
  display:block;
  white-space: nowrap;
  background-color: #18184efa;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border-color: #ffba5b;
  box-shadow: 0 0 6px gold;
  width: 130px;
  line-height: 35px;
  justify-content: center;
}

main{  
  flex-direction: column;
  align-items: flex-start;
  flex: 1;
}


#menu {
  display: flex;
  width: 100%;
  margin: 0 auto;
  background-color: #101022fa;
  padding: 0 20px 20px 20px; 
  min-width: 320px;
  border: 5px solid #ffba5b;
  float: left;
}

aside{
  display: flex;  
  color: #ecda8b;
  font-family: "Merriweather", serif;
  padding: 10px 20px;
  flex-direction: column;
  margin: 10px;
  align-items: flex-end;
  flex-basis: 30%;
  border: 1px solid white;
  float: right;
}

aside li:nth-child(odd){
  color: #ffba5b;
  background: #34346954;
}

h2 {
  display: flex;
  color: #866abe;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

form {
  display: flex;
  color: #866abe;
  font-family: "Merriweather", serif;
  text-align: center;
  font-size: 18px;
  line-height: 2;
}

input:focus {
border-color:gold;
}

.btn-form {
  background-color: #18184efa;
  color: #fff;
  text-align: center;
  text-decoration: none;
  border-radius: 30px;
  border-color: #ffba5b;
  box-shadow: 0 0 5px gold;
  width: 80px;
  line-height: 25px;
  justify-content: center;
}

a {
  color: #ffdc40;
  font-size: 13px;
  padding: 5px;

}

h3 {
  background-color: #18184efa;
  font-family: "Merriweather", serif;
  font-size: 13px;
  color: #ecda8b;
  text-align: center;
  border: 3px solid #eba23c ;
  box-shadow: 0 0 6px gold;
  border-radius: 30px;
  width: 300px;
  line-height: 50px;
  justify-content: center;
}

img {
  display: block;
  width: 100%;
  margin: auto;
}

.container-footer{
  display: flex;
  min-width: 320px;
  bottom: 0;
  width: 100%;
}

footer{
  background-color: #4e545c3a;
  justify-content: space-between;
  height: 50px;
  display: flex;
  color: #e5e8e881;
  font-size: 15px;

}

/* mobile */
@media(max-width:992px){
  #menu{
    flex-direction: column;
    text-align: center;
    align-items: center;
    max-width: 90%;
    margin: 1% auto;
    width: 100%;
    margin-bottom: 20%;
  }

  img{
    min-width: 320px;
    margin: auto;
    align-items: center;
  }
  
  .flex-container{
    text-align: center;
    justify-content: space-around
  }
}